[Unit]
Description=Tendrl Api Daemon
After=network.target
Requires=tendrl-node-agent.service

[Service]
Type=simple
ExecStart=/usr/bin/puma -C /usr/share/tendrl-api/config/puma/production.rb
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
User=tendrl-api
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
