[Unit]
Description=Tendrl Api Daemon
After=network.target
Requires=tendrl-node-agent.service

[Service]
Type=simple
ExecStart=/usr/bin/puma -b 'tcp://127.0.0.1:9292' -e production --dir /usr/share/tendrl-api/
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
