[Unit]
Description=Tendrl Api Daemon

[Service]
Type=simple
ExecStart=/usr/bin/puma -e production --dir /usr/share/tendrl-api/
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target