# vim: ft=apache
## Sample apache configuration file for tendrl.

<VirtualHost *:80>
  # Adjust the ServerName directive to reflect the FQDN for your host. Add
  # additional ServerAlias directives if required.
  ServerName tendrl

  # This is where the tendrl frontend assets will be installed.
  DocumentRoot /var/www/tendrl

  # Adjust the logging configuration as required.
  ErrorLog "logs/tendrl-error_log"
  CustomLog "logs/tendrl-access_log" combined

  # The requests to /api/ will all be forwarded to the tendrl-api application.
  ProxyPass "/api" http://127.0.0.1:9292/
  ProxyPassReverse "/api" http://127.0.0.1:9292/

  # When SSL is enabled, the following rule will redirect all http requests to
  # https. Ensure that the same IP used by the SSL VirtualHost is used.
  #
  # IMPORTANT: Be sure to comment out the DocumentRoot, ProxyPass and
  # ProxyPassReverse directives above.
  #Redirect permanent / https://%ssl_virtualhost_fqdn%/

  # The requests to /grafana will be forwarded to grafana server
  ProxyPass /grafana http://127.0.0.1:3000
  ProxyPassReverse /grafana http://127.0.0.1:3000/grafana
</VirtualHost>
