
## <summary>policy for tendrl</summary>

########################################
## <summary>
##	Execute TEMPLATE in the tendrl domin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tendrl_domtrans',`
	gen_require(`
		type tendrl_t, tendrl_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, tendrl_exec_t, tendrl_t)
')

########################################
## <summary>
##	collectd stub interface.  No access allowed.
## </summary>
## <param name="domain" unused="true">
##	<summary>
##	Domain allowed access
##	</summary>
## </param>
#
interface(`tendrl_stub_collectd',`
	gen_require(`
		type dmidecode_t;
		type dmesg_t;
		type collectd_t;
		class fifo_file  { read write };
	')
')
